@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;


  color: hsl(220, 13%, 13%);
  background-color: hsl(0, 0%, 100%) ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  min-height: 100vh;
}

